@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@300&display=swap");

$color_1: white;
$font-family: 'IBM Plex Sans Thai', sans-serif;
$background_1: #23242686;
$background_2: #232426;
$background_3: #474545;
$background_4: #23242652;
$background_5: #232426af;
$background_6: #696868;
$background_7: #2c2c2c;


body {
	font-family: $font-family;
}
.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 25%;
	padding: 10px;
	border-radius: 10px;
	z-index: 9;
	transition: 0.3s;
}
.btn-change-theme {
	padding: 10px 5px;
	display: block;
	margin: 0 auto;
}
.menu-settings {
	position: absolute;
	left: -11%;
	background-color: $background_1;
	padding: 5px;
	border-radius: 7px;
	.menu-item {
		.menu-panel-color {
			background-color: $background_1;
			position: absolute;
			left: -50%;
			transform: translateX(-100%);
			height: 35px;
			border-radius: 7px;
			padding: 0px 5px 5px 5px;
			display: flex;
			.item {
				&:not(:last-child) {
					margin-right: 7px;
				}
				width: 20px;
				height: 20px;
				transform: translateY(40%);
				border-radius: 7px;
			}
		}
		&:not(:last-child) {
			margin-bottom: 5px;
		}
		background-color: $background_2;
		height: 35px;
		width: 35px;
		color: $color_1;
		position: relative;
		border-radius: 7px;
		i {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}
}
.hide {
	opacity: 0;
}
.rotate-zone {
	height: 100%;
	width: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.save {
	margin-top: 10px;
	display: flex;
	button {
		color: $color_1;
		padding: 0px 10px;
		border: 0px;
		border-radius: 0px 4px 4px 0px;
		width: auto;
		&:hover {
			cursor: pointer;
		}
	}
	input {
		background-color: $background_2;
		width: 100%;
		border: 0px;
		padding: 6px 10px;
		color: $color_1;
		border-radius: 4px 0px 0px 4px;
		&:focus {
			outline: none;
		}
	}
}
button {
	&:disabled {
		opacity: 0.5;
	}
	color: $color_1;
	border: 0px;
	padding: 5px 5px;
	font-family: $font-family;
	line-height: 0px;
	font-weight: bold;
	border-radius: 4px;
	cursor: pointer;
}
.input-rename-cloth-set {
	width: 100%;
	background-color: $background_3;
	color: $color_1;
	border: 0px;
	padding-left: 7px;
	&:focus {
		outline: none;
	}
	&::-webkit-input-placeholder {
		color: $color_1;
	}
}
.cloths-set {
	.item {
		width: 100% !important;
		background-color: $background_2;
		margin: 5px 0px;
		border-radius: 4px;
		padding: 5px 0px;
		color: $color_1;
		position: relative;
		width: 100%;
	}
}
.menu-options {
	z-index: 9;
	display: flex;
	transform: translateX(-50%);
	top: -50px;
	position: absolute;
	left: 50%;
	.option {
		color: $color_1;
		background-color: $background_2;
		border-radius: 7px;
		width: 40px;
		height: 40px;
		margin: 4px;
		position: relative;
		i {
			font-size: 22px;
			color: $color_1;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		&:hover {
			background-color: $background_5;
			cursor: pointer;
		}
	}
}
.tutorial {
	padding: 5px;
	position: absolute;
	left: 15%;
	bottom: 0%;
	transform: translate(-50%, -50%);
	background-color: $background_4;
	color: $color_1;
	padding: 5px 10px;
	border-radius: 4px;
}
.menu-slot {
	&::-webkit-scrollbar {
		width: 7px;
	}
	&::-webkit-scrollbar-track {
		background-color: $background_3;
		border-radius: 4px;
	}
	height: auto;
	max-height: 700px;
	overflow: hidden;
	overflow-y: auto;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 40px;
	grid-row-gap: 8px;
	padding-right: 30px;
	.slot {
		position: relative;
		background-color: $background_2;
		margin-bottom: 5px;
		color: $color_1;
		padding: 10px;
		border-radius: 5px;
		width: 100%;
		transition: 0.3s;
		border: 2px solid transparent;
		.input-range {
			width: 100%;
		}
		.btn-pre {
			&:focus {
				border: 0px;
				outline: none;
			}
			border: 0px;
			color: $color_1;
			margin: 0px 2px;
			border-radius: 4px;
		}
		.btn-next {
			&:focus {
				border: 0px;
				outline: none;
			}
			border: 0px;
			color: $color_1;
			margin: 0px 2px;
			border-radius: 4px;
		}
		.input-value {
			background-color: $background_6;
			color: $color_1;
			max-width: 40px;
			width: 30px;
			text-align: center;
			-moz-appearance: textfield;
			border: 0px;
			border-radius: 10px;
			font-weight: bold;
			&::-webkit-outer-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}
			&::-webkit-inner-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}
		}
		.input-max {
			width: 30px;
			text-align: center;
			-moz-appearance: textfield;
			border: 0px;
			border-radius: 10px;
			font-weight: bold;
			&::-webkit-outer-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}
			&::-webkit-inner-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}
		}
	}
}
input {
	font-family: $font-family;
	&:focus {
		border: 0px;
		outline: none;
	}
}
.right-menu {
	position: absolute;
	right: 2%;
	top: 10%;
	width: 28%;
	padding: 10px;
}
.sex-menu {
	background-color: $background_2;
	display: flex;
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 7px;
	position: relative;
	height: 50px;
}
.btn-sex {
	width: 50px;
	height: 50px;
	border: 0px;
	i {
		font-size: 32px;
	}
}
.btn-sex.male {
	background: #43ADE1;
	position: absolute;
	left: 25%;
	border-radius: 10px;
}
.btn-sex.female {
	background: #EA0075;
	position: absolute;
	float: right;
	right: 25%;
	border-radius: 10px;
}
.btn-buy {
	color: $color_1;
	border: 0px;
	padding: 10px 0px;
	width: 100%;
	height: 30px;
	margin-top: 10px;
	font-family: $font-family;
	line-height: 0px;
	font-weight: bold;
}
.slots {
	.slot {
		input {
			width: 100%;
		}
	}
}
.search-menu {
	width: 97.5%;
	background-color: $background_2;
	padding: 5px;
	border-radius: 5px;
	margin-bottom: 10px;
	display: flex;
	.btn-search {
		background-color: $background_7;
		color: $color_1;
		border: 0px;
	}
	input {
		width: 100%;
		background-color: $background_3;
		color: $color_1;
		border: 0px;
		padding-left: 7px;
		&:focus {
			outline: none;
		}
		&::-webkit-input-placeholder {
			color: $color_1;
		}
	}
}
