.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 25%;
    padding: 10px;
    border-radius: 10px;
  }

  .btn-change-theme{

    padding: 10px 5px;
    display: block;
    margin: 0 auto;
  }